<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Awesome Comment by <%= @comment.user.username %></h1>
    <p><%= @comment.comment_entry %></p>
  </body>
</html>