<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h2>New Post</h2>
  	<p>Make it good, ladies. And keep it clean. Your parents are reading this!</p>

	<%= render 'form' %>
    <br/>

  </div>
</div>
