<div class="container">
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	  	<h2>New Post</h2>
	  	<p>Make it good, ladies. And keep it clean. Your parents are reading this!</p>

		<%= render 'form' %>
	    <br/>

	  </div>
	</div>
</div>
